body {
	font-family: 'PT Sans', sans-serif;
}
#home-body {
	background-image: url(banka.jpg);
	background-size: cover;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
}
div.header {
	background-color: #fafafa;
	color: blue;
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: none;
	border-bottom: 15px blue solid;
	margin: 0;
	padding: 0;
}
header {
	padding: 2% 5%;
}
header > img {
	width: 160px;
	margin: 0;
}
nav {
	padding: 2% 5%;
}
nav > ul {
	display: inline;
	list-style: none;
	text-align: left;
	float: right;
}
li.nav-item {
	display: inline;
	display: left;
}
.login {
	width: 250px;
	position: absolute;
	top: 40%;
	left: 75%;
	transform: translate(-50%, -25%);
	background-color: rgba(256, 256, 256, 0.7);
	padding: 3%;
	text-align: center;
	border-radius: 10px;
}
form.sign > input {
	width: 100%;
	border: 0;
	border-bottom: 2px blue solid;
	background-color: white;
	padding: 2%;
	margin: 1%;
	transition: .3s ease-in-out;
}
form.sign > input:focus {
	width: 100%;
	border-bottom: 2px black solid;
	padding: 2%;
	margin: 1%;
}
form.sign > button {
	width: 100%;
	padding: 3%;
	background-color: blue;
	color: white;
	border-radius: 50px;
	border: none;
	transition: .3s ease-in-out;
}
form.sign > button:hover {
	background-color: white;
	border: 2px blue solid;
	color: blue;
}
.forWindows {
	padding: 4%;
	color: #2d1f5c;
	font-weight: 700;
	font-size: 3em;
}
.forWindows > h1, .forWindows > h2, .forWindows > h3, .forWindows > h4 {
	margin: 10px;
}
/***************************************
STYLE THE DASHBOARD
**************************************/
.body {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.left-section {
	padding: 2% 3%;
	width: 100%;
	border-right: 3px solid black;
	box-sizing: border-box;
}
div#account-info {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
#profile-img {
	width: 100%;
	height: 100%;
/*	border-radius: 70px;*/
	border: blue solid 2px;
}
.left-section > table {
	width: 100%;
}
table.dashboard > thead {
	background-color: blue;
	text-align: center;
	color: white;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
}
tbody > tr:nth-child(odd) {
	background-color: lightblue;
	color: grey;
	border: 1px blue solid;
	border-collapse: collapse;
	font-size: 1.2em;
	padding: 10px;
}
tbody > tr:nth-child(even) {
	background-color: grey;
	color: lightblue;
	border: 1px blue solid;
	border-collapse: collapse;
	font-size: 1.2em;
	padding: 10px;
}
td {
	padding: 10px;
}
input.dashboard {
	width: 39%;
	margin: 2% 5%;
	padding: 1%;
	box-sizing: border-box;
}
button.dashboard {
	width: 80%;
	margin: 0 10%;
	text-align: center;
	box-sizing: border-box;
	padding: 2%;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 50px;
}
.action-buttons {
	text-align: center;
}
.action-buttons > button {
	width: 30%;
	padding: 2%;
	text-align: center;
	color: white;
	border-radius: 50px;
	border: none;
	transition: .3s ease-in-out;
	font-size: 1.2em;
}
.action-buttons > button:nth-child(1) {
	background-color: green;
}
.action-buttons > button:nth-child(2) {
	background-color: orange;
}
.action-buttons > button:nth-child(3) {
	background-color: red;
}
.action-buttons > button:nth-child(1):hover {
	background-color: white;
	color: green;
	border: green 2px solid;
	cursor: pointer;
}
.action-buttons > button:nth-child(2):hover {
	background-color: white;
	color: orange;
	border: 2px orange solid;
	cursor: pointer;
}
.action-buttons > button:nth-child(3):hover {
	background-color: white;
	border: 2px red solid;
	color: red;
	cursor: pointer;
}
center {
	display: inline-block;
	text-align: center;
	padding: 5%;
	border: 2px blue dashed;
	margin: auto 30%;
}
center > h3, center > h1{
	display: inline-block;
	text-align: center;
}
/************************************&*&*&*&***************************
Style the Account Creation Form
****************************&*&*&*&**********************************/
.create-account {
	display: grid;
	grid-template-columns: 1fr 7fr;
}
.create-p-info, .create-nok-info {
	width: 80%;
	border: black 1px dashed;
	padding: 3% 5%;
	margin: 3% 0;
}
.full-w {
	width: 80%;
	padding: 4px;
}
.half-w {
	width: 30%;
	padding: 4px;
}
button.create {
	padding: 10px;
}
/************************************&*&*&*&***************************
Style the Staff page
****************************&*&*&*&**********************************/
#staff-acc {
	display: grid;
	grid-template-columns: 7fr 3fr;
}
#staff-action {
	display: grid;
	grid-template-columns: 1fr 1fr;	
}
.debit-user > h2 {
	text-align: center;
	color: blue;
	margin-top: 3%;
	text-decoration: underline;
}
.debit-user > form {
	margin: 10%;
	text-align: center;
}
.debit-user form > input {
	width: 75%;
	padding: 5px;
	border: 2px blue solid;
	font-size: 1em;
}
.debit-user form > button {
	padding: 5px 10px;
	border: 2px blue solid;
	color: white;
	background-color: blue;
	font-size: 1em;
	font-weight: bold;
}